<!-- layout.html 템플릿 상속 -->
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 부모 템플릿 th:block 엘리먼트 내용을 자식 템플릿의 div 엘리먼트 내용으로 교체 -->
<div layout:fragment="content" class="container">
    <header>
        <a th:href="@{/}" class="btn-flat waves-effect waves-light">
            <i class="material-icons">arrow_back</i>
        </a>
        <h5>정말로 시작하시겠습니까?</h5>
    </header>
    <form th:object="${estimatedTimeVO}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
        </div>
        <div class="row">
            <div class="input-field col s12 m12 l12">
                <label for="estimatedAt">예상 처리 시간</label>
                <input type="text" name="estimatedAt" id="estimatedAt" th:value="${task.estimatedAt}" minlength="5" class="validate">
                <span class="helper-text" data-error="00:00 형식으로 입력해주세요. 3시간 30분이라면 03:30으로 입력합니다."></span>
            </div>
            <button type="submit" class="start btn waves-effect waves-light col s12">시작</button>
        </div>
    </form>
</div>
<script layout:fragment="script" type="text/javascript">
    // 시작 여부 확인
    const delete_elements = document.getElementsByClassName("start");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 시작하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });

    // 시간 출력 포맷
    var estimatedTime = document.getElementById('estimatedAt');
    var estimatedAtMinutes = parseInt(estimatedTime.value);
    var formattedTime = formatMinutesToHoursAndMinutes(estimatedAtMinutes);
    estimatedTime.value = formattedTime;

    console.log(formattedTime)

    function formatMinutesToHoursAndMinutes(minutes) {
        var hours = Math.floor(minutes/60);
        var remainingMinutes = minutes % 60;
        console.log(remainingMinutes);
        console.log(remainingMinutes.toString().length);
        if (remainingMinutes.toString().length === 1) {
            return hours + ':' + '0' + remainingMinutes;
        } else {
            return hours + ':' + remainingMinutes;
        }
    }
</script>
</html>