<!-- layout.html 템플릿 상속 -->
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<!-- 부모 템플릿 th:block 엘리먼트 내용을 자식 템플릿의 div 엘리먼트 내용으로 교체 -->
<div layout:fragment="content" class="container">
    <!-- 상단바: 뒤로가기 버튼, Task 제목, Task 제목 수정하기 버튼 -->
    <header>
        <button class="btn-flat waves-effect waves-light" onclick="history.back()">
            <i class="material-icons">arrow_back_ios</i>
        </button>
        <span th:text="${task.subject}"></span>
        <!-- GET 방식으로 제목을 불러오고, POST 방식으로 제목을 수정 -->
        <a th:href="@{|/task/modify/${task.id}|}" class="btn-flat waves-effect waves-light">
            <i class="material-icons left">edit</i>
        </a>
    </header>

    <!-- 통계 영역: 그래프 -->
    <div class="col s12">
        <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>

    <script th:inline="javascript">
        let estimatedTimeList = [[${estimatedTimeList}]];
        let totalTimeList = [[${totalTimeList}]];
        let completeTimeList = [[${completeTimeList}]];

        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: completeTimeList,
                datasets: [
                    {
                    label: '예상 처리 시간',
                    data: estimatedTimeList,
                    borderWidth: 1,
                    },
                    {
                    label: '실제 처리 시간',
                    data: totalTimeList,
                    borderWidth: 1,
                    }
                ],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

    <!-- 태스크 이력: taskMeasures 목록 -->
    <div class="row">
        <div th:each="taskMeasure: ${taskMeasureList}" class="col s12 m12">
            <div class="card teal lighten-5">
                <div class="card-content black-text">
                    <div>
                        <a th:href="@{|/task/measures/modify/${taskMeasure.id}|}" th:text="${taskMeasure.startTime}"></a>
                        <span>
                            <a href="javascript:void(0);"
                               th:data-uri="@{|/task/measures/delete/${taskMeasure.id}|}"
                               class="delete waves-effect waves-teal btn-flat">
                                <i class="material-icons">more_vert</i>
                            </a>
                        </span>
                    </div>
                    <div class="card-title" th:text="'총 소요시간: ' + ${taskMeasure.totalElapsedTime}"></div>
                    <div th:text="'예상 처리 시간: ' + ${taskMeasure.estimatedAt}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script" type="text/javascript">
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });
</script>
</html>
