<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>제목</th>
                <th>목표 시간</th>
                <th>상세 내용</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task: ${taskList}">
                <td th:text="${task.subject}"></td>
                <td th:text="${task.estimatedAt}"></td>
                <td th:text="${task.description}"></td>
                <td>
                    <a th:href="@{|/task/detail/${task.id}|}">상세 보기</a>
                </td>
                <td>
                    <a th:href="@{|/task/start/${task.id}|}">start</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>