<!-- layout.html 템플릿 상속 -->
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<!-- 부모 템플릿 th:block 엘리먼트 내용을 자식 템플릿의 div 엘리먼트 내용으로 교체 -->
<div layout:fragment="content" class="container">
    <!-- 상단바: 뒤로가기 버튼, Task 제목, Task 제목 수정하기 버튼 -->
    <header>
        <a th:href="@{/}" class="btn-flat waves-effect waves-light">
            <i class="material-icons">arrow_back</i>
        </a>
        <span th:text="${task.subject}"></span>
        <!-- GET 방식으로 제목을 불러오고, POST 방식으로 제목을 수정 -->
        <a th:href="@{|/task/modify/${task.id}|}" class="btn-flat waves-effect waves-light">
            <i class="material-icons left">edit</i>
        </a>
    </header>
    <main>
        <!-- 통계 영역: 그래프 -->
        <div class="col s12">
            <canvas id="myChart"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>

        <script th:inline="javascript">
            let estimatedTimeList = [[${estimatedTimeList}]];
            let totalTimeList = [[${totalTimeList}]];
            let completeTimeList = [[${completeTimeList}]];

            const ctx = document.getElementById('myChart');

            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: completeTimeList,
                    datasets: [
                        {
                            label: '예상 처리 시간',
                            data: estimatedTimeList,
                            borderWidth: 1,
                        },
                        {
                            label: '실제 처리 시간',
                            data: totalTimeList,
                            borderWidth: 1,
                        }
                    ],
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>

        <!-- 태스크 이력: taskMeasures 목록 -->
        <div class="row">
            <div th:if="${#lists.isEmpty(taskMeasureList)}">
                <h3>완료한 이력이 없습니다.</h3>
            </div>
            <div th:each="taskMeasure: ${taskMeasureList}" class="col s12 m12">
                <a th:href="@{|/task/measures/modify/${taskMeasure.id}|}">
                    <div class="card teal lighten-5">
                        <div class="card-content black-text">
                            <div class="start-at" th:text="'시작 일시: ' + ${taskMeasure.startTime}"></div>
                            <input type="hidden" class="hidden-start-time" th:value="${taskMeasure.startTime}">
                            <div class="card-title total-time" th:text="'총 소요시간: ' + ${taskMeasure.totalElapsedTime}"></div>
                            <input type="hidden" class="hidden-total-time" th:value="${taskMeasure.totalElapsedTime}">
                            <div class="estimated-at" th:text="'예상 처리 시간: ' + ${taskMeasure.estimatedAt}"></div>
                            <input type="hidden" class="hidden-estimated-time" th:value="${taskMeasure.estimatedAt}">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </main>
</div>
<script layout:fragment="script" type="text/javascript">
    <!--  날짜 시간 출력 포맷  -->
    let startTimeElements = document.getElementsByClassName('hidden-start-time');
    let userStartTime = document.getElementsByClassName('start-at');
    let totalTimeElements = document.getElementsByClassName('hidden-total-time');
    let userTotalTime = document.getElementsByClassName('total-time');
    let estimatedTimeElements = document.getElementsByClassName('hidden-estimated-time');
    let userEstimatedTime = document.getElementsByClassName('estimated-at');
    for (let i = 0; i < estimatedTimeElements.length; i++) {
        // 시작 날짜 출력 포맷
        let hiddenStartElement = startTimeElements[i];
        let formattedStartTime = hiddenStartElement.value.replace(/T/, ' ').substring(0, 16);

        // 예상 처리 시간 출력 포맷
        let hiddenEstimatedElement = estimatedTimeElements[i];
        let estimatedAtMinutes = parseInt(hiddenEstimatedElement.value);
        let formattedEstimatedTime = formatMinutesToHoursAndMinutes(estimatedAtMinutes);

        // 총 소요 시간 출력 포맷
        let hiddenTotalTimeElement = totalTimeElements[i];
        let totalTimeMinutes = parseInt(hiddenTotalTimeElement.value);
        let formattedTotalTime = formatMinutesToHoursAndMinutes(totalTimeMinutes);
        // 1. Browser 에서 break point 를 IntelliJ 에서 쓰는 것처럼 할 수 있다.
        // 2. console.log 로 변수의 값을 한번에 볼 수 있다. dictionary 형태로
        // 3. console.table 같은게 있다.
        // 4. 클라이언트(브라우저)에서 계산에 쓰는 값은 input hidden 으로 처리하는것이 좀 더 우아하다.

        userStartTime[i].textContent = '시작 일시: ' + formattedStartTime;
        userEstimatedTime[i].textContent = '예상 처리 시간: ' + formattedEstimatedTime;
        userTotalTime[i].textContent = '총 소요 시간: ' + formattedTotalTime;
    }

    function formatMinutesToHoursAndMinutes(minutes) {
        let days;
        let hours;
        let remainingMinutes;

        if (minutes === 0) {
            return '1분 미만';
        }
        if (minutes / 1440 >= 1) {
            days = Math.floor(minutes / 1440);
            hours = Math.floor((minutes % 1440) / 60);
            remainingMinutes = (minutes % 1440) % 60;
            if (remainingMinutes === 0) {
                return days + '일 ' + hours + '시간 ';
            }
            if (hours === 0) {
                return days + '일 ' + remainingMinutes + '분';
            }
            return days + '일 ' + hours + '시간 ' + remainingMinutes + '분';
        } else {
            hours = Math.floor(minutes / 60);
            remainingMinutes = minutes % 60;
            if (remainingMinutes === 0) {
                return hours + '시간 ';
            }
            if (hours === 0) {
                return remainingMinutes + '분';
            }
            return hours + '시간 ' + remainingMinutes + '분';
        }
    }
</script>
</html>
