<!-- layout.html 템플릿 상속 -->
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 부모 템플릿 th:block 엘리먼트 내용을 자식 템플릿의 div 엘리먼트 내용으로 교체 -->
<div layout:fragment="content" class="container">
    <header>
        <a th:href="@{/}" class="btn-flat waves-effect waves-light">
            <i class="material-icons">arrow_back</i>
        </a>
        <span>할 일 등록하기</span>
    </header>
    <form th:object="${taskVO}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
        </div>
        <div class="row">
            <div class="input-field">
                <label for="subject">제목</label>
                <input type="text" name="inputSubject" id="subject" th:value="${task} ? ${task.subject}" class="validate">
            </div>
            <div class="input-field">
                <label for="description">내용</label>
                <textarea name="inputDescription" id="description" th:text="${task} ? ${task.description}" class="validate materialize-textarea"></textarea>
            </div>
            <div class="input-field">
                <label for="estimatedAt">예상 처리 시간</label>
                <input th:placeholder="${task} ?: '00:00'" type="text" name="inputEstimatedAt" th:id="${task} ? 'modify_estimatedAt' : 'estimatedAt'" th:value="${task} ? ${task.estimatedAt}" minlength="5" class="validate">
                <span class="helper-text" data-error="00:00 형식으로 입력해주세요. 3시간 30분이라면 03:30으로 입력합니다."></span>
            </div>
            <button type="submit" class="btn rounded-btn waves-effect waves-light">저장</button>
        </div>
    </form>
</div>
<script layout:fragment="script" type="text/javascript">
    <!--  시간 출력 포맷  -->
    if (document.getElementById('modify_estimatedAt')) {
        var estimatedTime = document.getElementById('modify_estimatedAt');
        var estimatedAtMinutes = parseInt(estimatedTime.value);
        var formattedTime = formatMinutesToHoursAndMinutes(estimatedAtMinutes);
        estimatedTime.value = formattedTime;

        console.log(formattedTime)

        function formatMinutesToHoursAndMinutes(minutes) {
            const hours = Math.floor(minutes / 60);
            const remainingMinutes = minutes % 60;

            const paddedHours = hours.toString().padStart(2, '0');
            const paddedMinutes = remainingMinutes.toString().padStart(2, '0');

            return `${paddedHours}:${paddedMinutes}`;
        }
    }
</script>
</html>