<!-- layout.html 템플릿 상속 -->
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 부모 템플릿 th:block 엘리먼트 내용을 자식 템플릿의 div 엘리먼트 내용으로 교체 -->
<div layout:fragment="content" class="container">
    <header>
            <!-- 로그아웃 버튼은 인증된 사용자에게만 표시  -->
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                <button class="btn waves-effect waves-light" type="submit">로그아웃</button>
            </form>
            <form th:action="@{/task/search}" method="get">
                <div class="row">
                    <div class="input-field col s10 m10 l10">
                        <input placeholder="검색어를 입력해주세요." type="text" name="keyword" id="keyword" class="validate">
                </div>
                <button class="btn waves-effect waves-light" type="submit"><i class="material-icons left">search</i>검색</button>
            </div>
        </form>
    </header>
    <main>
        <form th:action="@{/task/create}" method="get">
            <button class="btn waves-effect waves-light" type="submit">추가
                <i class="material-icons left">add_circle</i>
            </button>
        </form>
        <div th:if="${searchResult}" th:text="${searchResult}"></div>
        <div th:unless="${searchResult}" class="row">
            <div th:each="task: ${taskList}"  class="col s12 m12">
                <div class="card">
                    <div class="card-content">
                        <div>
                            <span class="card-title">
                                <a th:href="@{|/task/detail/${task.id}|}" th:text="${task.subject}"></a>
                            </span>
                        </div>
                        <div th:text="${task.estimatedAt}" class="estimated-at"></div>
                        <input type="hidden" class="hidden-estimated-time" th:value="${task.estimatedAt}">
                        <div th:text="${task.description}"></div>
                        <div th:switch="${#strings.toString(task.status)}">
                            <form th:case="'STANDBY'" th:action="@{|/task/start/${task.id}|}" method="get">
                                <button class="btn waves-effect waves-light" type="submit">시작</button>
                            </form>
                            <div th:case="'ING'">
                                <form th:action="@{|/task/pause/${task.id}|}" method="post">
                                    <button class="btn waves-effect waves-light" type="submit">일시정지</button>
                                </form>
                                <form th:action="@{|/task/complete/${task.id}|}" method="post">
                                    <button class="complete btn waves-effect waves-light" type="submit">완료</button>
                                </form>
                            </div>
                            <form th:case="'PAUSE'" th:action="@{|/task/continue/${task.id}|}" method="post">
                                <button class="btn waves-effect waves-light" type="submit">계속</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer white">
        <div class="row">
            <a class="grey-text text-lighten-1" href="#!">개인정보처리방침 보기</a>
        </div>
        <div class="footer-copyright">
            © 2014. MEOHIN all rights reserved.
<!--                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
        </div>
    </footer>
</div>
<script layout:fragment="script" type="text/javascript">
    // 완료 여부 확인
    const delete_elements = document.getElementsByClassName("complete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 완료하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });

    // 시간 출력 포맷
    var hiddenEstimatedTime = document.getElementsByClassName('hidden-estimated-time');
    var estimatedTime = document.getElementsByClassName('estimated-at');

    for (var i = 0; i < hiddenEstimatedTime.length; i++) {
        var hiddenElement = hiddenEstimatedTime[i];
        var estimatedAtMinutes = parseInt(hiddenElement.value);
        var formattedTime = formatMinutesToHoursAndMinutes(estimatedAtMinutes);
        estimatedTime[i].innerText = formattedTime;
    }

    function formatMinutesToHoursAndMinutes(minutes) {
        var hours = Math.floor(minutes/60);
        var remainingMinutes = minutes % 60;
        if (remainingMinutes === 0) {
            return hours + '시간 '
        }
        return hours + '시간 ' + remainingMinutes + '분';
    }
</script>
</html>