<!-- layout.html 템플릿 상속 -->
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 부모 템플릿 th:block 엘리먼트 내용을 자식 템플릿의 div 엘리먼트 내용으로 교체 -->
<div layout:fragment="content" class="container centered-content">
    <h1 class="brand-title">TimeTODO</h1>
    <form method="post" th:action="@{/login}" id="formLogin">
        <div th:if="${param.error}">
            <div>
                ID 또는 비밀번호를 확인해주세요.
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <label for="userId">아이디</label>
                <input type="text" name="username" id="userId" class="validate">
            </div>
            <div class="input-field">
                <label for="pw">비밀번호</label>
                <input type="password" name="password" id="pw" class="validate">
            </div>
            <button type="submit" class="btn big-rounded-btn waves-effect waves-light background-color">로그인</button>
        </div>
    </form>
    <a id="btn-join" class="btn big-rounded-btn waves-effect waves-light background-color">회원 가입</a>
</div>
<script layout:fragment="script" type="text/javascript">
    $(document).ready(function() {
        // 회원가입버튼 클릭 이벤트
        $("#btn-join").click(function () {
            window.location.href = "/signup";
        });
    });
</script>
</html>