<!-- layout.html 템플릿 상속 -->
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 부모 템플릿 th:block 엘리먼트 내용을 자식 템플릿의 div 엘리먼트 내용으로 교체 -->
<div layout:fragment="content" class="container">
    <h1>TimeTODO 회원 가입</h1>
    <form th:action="@{/signup}" th:object="${userDTO}" method="post">
        <div class="row">
            <div role="alert" th:if="${#fields.hasAnyErrors()}">
                <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
            </div>
            <div class="input-field col s12 m12 l12">
                <label for="inputUserId">아이디</label>
                <input type="text" name="inputUserId" id="inputUserId" class="validate" onblur="noSpaceForm(this);">
                <span class="helper-text">아이디: 5~20자의 영문 소문자, 숫자와 특수기호(_),(-)만 사용할 수 있니다.</span>
            </div>
            <div class="input-field col s12 m12 l12">
                <label for="inputPW">비밀번호</label>
                <input type="password" name="inputPW" id="inputPW" class="validate" onblur="noSpaceForm(this);">
                <span class="helper-text">비밀번호: 영문 대/소문자, 숫자, 특수문자를 각 하나 이상 포함하여 8~16자를 입력합니다.</span>
            </div>
            <div class="input-field col s12 m12 l12">
                <label for="confirmPW">비밀번호 확인</label>
                <input type="password" name="confirmPW" id="confirmPW" class="validate">
            </div>
            <div class="input-field col s12 m12 l12">
                <label for="inputEmail">이메일</label>
                <input type="email" name="inputEmail" id="inputEmail" class="validate">
                <!--                <span class="helper-text" data-error="아이디는 5~20자의 영문 소문자, 숫자와 특수기호(_),(-)만 사용 가능합니다." data-success="사용가능한 아이디입니다."></span>-->
            </div>
            <a th:href="@{/}" class="btn waves-effect waves-light col s6">취소</a>
            <button type="submit" class="btn waves-effect waves-light col s6">가입하기</button>
        </div>
    </form>
</div>
<script layout:fragment="script" type="text/javascript">
    function noSpaceForm(text) {
        let space_text = /\s/;
        if(space_text.exec(text.value)) {
            alert("해당 항목에는 공백을 포함할 수 없습니다.");
            text.focus();
            text.value = text.value.replace(/\s/g, '');
            return false;
        }
    }
</script>
</html>